* {
    margin: 0;
    padding: 0;
}

/* let's flower related styles */
.banner-container {
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 240px 0 240px;
    align-items: center;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-para {
    color: rgb(15, 15, 15);
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.btn-shopnow {
    width: 180px;
    height: 65px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.banner-left>button {
    padding-bottom: 20px;
}

.banner-right>img {
    width: 635px;
    height: 800px;
    padding-left: 100px;

}

/* main section styles */
main {
    max-width: 1920px;
}

/*feature flower styles  */
.feature-flower-container {
    max-width: 1920px;
    margin-top: 100px;
    padding: 0 240px;
}

.feature-flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-flower-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 40px;
}

.flower-card-container {
    display: flex;
    gap: 20px;
}

.circle {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}

.c1 {
    background: rgba(167, 33, 98, 0.15);

}

.c2 {
    background: rgba(5, 151, 160, 0.15);
}

.c3 {
    background: rgba(71, 125, 17, 0.15);


}

.flower-card-container>a {
    display: block;
    margin-top: 100px;
}

.card {
    text-align: center;

}

/* support section style start */
.support-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.suppot-card {
    text-align: center;
}

.suppot-card-para {
    padding: 25px 0;
}

/* hot deal container style added */
.hot-deal-container {
    background: rgba(229, 84, 115, 0.144);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding: 0 240px;
}

.hot-deal-left {
    width: 50%;
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off-pink {
    color: #E55473;
}

.hot-deal-para {
    color: rgba(39, 39, 39, 0.60);
    margin: 30px 0;
    font-size: 22px;
    font-weight: 400;
    width: 590px;
}

.hot-deal-right {
    width: 50%;
}

.hot-deal-right>img {
    width: 318px;
    height: 420px;
}